<a href="https://colab.research.google.com/github/sajid-munawar/Pandas-a-versatile-and-high-performance-Python-library-for-data-manipulation-analysis-and-discover/blob/main/Chapter_1_A_Tour_of_pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**pandasâ€”a versatile
and high-performance Python library for
data manipulation, analysis, and discovery**

In [1]:
# import numpy and pandas, and DataFrame / Series
import numpy as np
import pandas as pd
from pandas import DataFrame, Series

In [4]:
# set some pandas options
pd.set_option('display.notebook_repr_html',False)
pd.set_option('display.max_columns',10)
pd.set_option('display.max_rows',10)

In [7]:
# Some items for matplotlib
%matplotlib inline
import matplotlib.pyplot as plt
# pd.options.display.mpl_style='default'
# pd.options.display.mpl_style = 'default'

**The pandas Series object**

In [10]:
#  Create a four item DataFrame
s=Series([1,2,3,4])
s

0    1
1    2
2    3
3    4
dtype: int64

In [12]:
#  Return a Series with the rows with labels 1, 3
s[[1,3]]

1    2
3    4
dtype: int64

It is important to note that the lookup here is not by zero-based
positions 1 and 3 like an array, but by the values in the index.

In [13]:
#create a series using an explicit index
s=Series([1,2,3,4], index=['a','b','c','d'])
s

a    1
b    2
c    3
d    4
dtype: int64