<a href="https://colab.research.google.com/github/sajid-munawar/Pandas-a-versatile-and-high-performance-Python-library-for-data-manipulation-analysis-and-discover/blob/main/pandas_work.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
df1=pd.read_csv('/home/sajid/Desktop/aaaaaaaa/url-input.txt',names=['url'])

In [ ]:
df1.head()

                               url
0              http://aiaccept.com
1               http://aiavoid.com
2  http://automaticrollerblind.com
3              http://azonprim.com
4           http://bannedcloud.com

In [ ]:
df2=pd.read_csv('/home/sajid/Desktop/aaaaaaaa/code-input.txt',sep='\t',names=['app','code'])

In [ ]:
df2.head()

                             app     code
0                    RPG Default  a54c5ac
1  Human Verification Generators  3473cfb
2         Human Verification Red  f6b53b8
3    Human Verification Download  c04791d
4                     Gift Card   d44035a

In [ ]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 896 entries, 0 to 895
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   app     893 non-null    object
 1   code    896 non-null    object
dtypes: object(2)
memory usage: 14.1+ KB

In [ ]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 75 entries, 0 to 74
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   url     75 non-null     object
dtypes: object(1)
memory usage: 728.0+ bytes

In [ ]:
# df2['bar'] = df.url.map(df2.code)
# df2.head

In [ ]:
df3=pd.concat([df1,df2],axis=1)

In [ ]:
df4=df3.dropna()

In [ ]:
df4.tail()

                          url                              app     code
70     http://metasweatta.com                       Among US    cc7dc6b
71  http://metatattooshop.com  Google Play Gift Card Generator  3527a10
72       http://pantsmeta.com                          Roblox   5cec664
73    http://perfumesmeta.com                             UFOs  009a978
74      http://winerymeta.com         Netflix Premium Account   9e96f84

In [ ]:
df4['bar'] = df4.url.map(str) + "/" + df4.code

<ipython-input-18-45624dd1f159>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df4['bar'] = df4.url.map(str) + "/" + df4.code

In [ ]:
df4.tail()

,url,app,code,bar
70,http://metasweatta.com,Among US,cc7dc6b,http://metasweatta.com/cc7dc6b
71,http://metatattooshop.com,Google Play Gift Card Generator,3527a10,http://metatattooshop.com/3527a10
72,http://pantsmeta.com,Roblox,5cec664,http://pantsmeta.com/5cec664
73,http://perfumesmeta.com,UFOs,009a978,http://perfumesmeta.com/009a978
74,http://winerymeta.com,Netflix Premium Account,9e96f84,http://winerymeta.com/9e96f84

In [ ]:
df_redirected=pd.read_csv('/home/sajid/Desktop/aaaaaaaa/redirect-sites.txt',names=['redirected_sites'])

In [ ]:
df_redirected.head()

                                    redirected_sites
0                      https://maps.google.ru/url?q=
1            http://1gx.ru/bitrix/redirect.php?goto=
2  http://ad.dyntracker.de/set.aspx?dt_subid1=&dt...
3             http://age-tech.ru/bitrix/rk.php?goto=
4      http://avtoline.com/bitrix/redirect.php?goto=

In [ ]:
df_redirected['final'] = df_redirected.redirected_sites.map(str) + "/" + df4.bar

In [ ]:
df_redirected.head()

,redirected_sites,final
0,https://maps.google.ru/url?q=,https://maps.google.ru/url?q=/http://aiaccept....
1,http://1gx.ru/bitrix/redirect.php?goto=,http://1gx.ru/bitrix/redirect.php?goto=/http:/...
2,http://ad.dyntracker.de/set.aspx?dt_subid1=&dt...,http://ad.dyntracker.de/set.aspx?dt_subid1=&dt...
3,http://age-tech.ru/bitrix/rk.php?goto=,http://age-tech.ru/bitrix/rk.php?goto=/http://...
4,http://avtoline.com/bitrix/redirect.php?goto=,http://avtoline.com/bitrix/redirect.php?goto=/...

In [ ]:
df_final=pd.concat([df3.app,df4.bar,df_redirected.final],axis=1)

In [ ]:
final=df_final.dropna()

In [ ]:
final.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 75 entries, 0 to 74
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   app     75 non-null     object
 1   bar     75 non-null     object
 2   final   75 non-null     object
dtypes: object(3)
memory usage: 2.3+ KB

In [ ]:
final.head()

,app,bar,final
0,RPG Default,http://aiaccept.com/a54c5ac,https://maps.google.ru/url?q=/http://aiaccept....
1,Human Verification Generators,http://aiavoid.com/3473cfb,http://1gx.ru/bitrix/redirect.php?goto=/http:/...
2,Human Verification Red,http://automaticrollerblind.com/f6b53b8,http://ad.dyntracker.de/set.aspx?dt_subid1=&dt...
3,Human Verification Download,http://azonprim.com/c04791d,http://age-tech.ru/bitrix/rk.php?goto=/http://...
4,Gift Card,http://bannedcloud.com/d44035a,http://avtoline.com/bitrix/redirect.php?goto=/...

In [ ]:
len(final['final'])

75

In [ ]:
for i in range(3):
    final.to_csv(f'/home/sajid/Desktop/aaaaaaaa/test/{final.loc[i].app}')

In [ ]:
final.loc[3].app

'Human Verification Download'

In [ ]:
for i in range(5):
    print(final.loc[i]['app'])

RPG Default
Human Verification Generators
Human Verification Red
Human Verification Download
Gift Card

In [ ]:
for i in range(5):
    for j in range(1):
        print(i,j)

0 0
1 0
2 0
3 0
4 0

In [ ]:
for i in range(5):
    print(final.loc[i].bar)

http://aiaccept.com/a54c5ac
http://aiavoid.com/3473cfb
http://automaticrollerblind.com/f6b53b8
http://azonprim.com/c04791d
http://bannedcloud.com/d44035a